#slider {
    display: table-cell;
    vertical-align: middle;
}

.knob {
    display: contents;
}

.filter-buttons { 
    width: 134px;
    height: 52px;
}

#waveform {
    position: relative;
}

#select_sample {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.freesound-color-btn {
    background-color: #AB4646 !important;
    border-color: #AB4646 !important;
}

.knob-name {
    font-size: 1rem !important;
}